.lienhe{
    height: max-content;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    padding: 40px;
    max-width: 1200px;
    margin: 50px auto;
}
.lienhe p,h2{
     padding: 25px 0 0 25px;
}