<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Bỏ qua nếu đường dẫn đã nằm trong thư mục public/
    RewriteCond %{REQUEST_URI} !^/public/
    
    # Chuyển hướng mọi request vào thư mục public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>